<div class="container">
  <div class="contactMe">
    <img src="assets/contacts.png" alt="" />
    <div class="text-center">
      <h1 class="text-center">I'm here for you anytime</h1>
      <span>Just Contact Me</span>
    </div>
    <div>
      <a class="btn btn-primary">Scroll Down</a>
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>

  <div class="hr">
    <hr id="con" />
    <h6>Contact Me</h6>
  </div>

  <div class="mysocial row">
    <a
      class="col-sm-10 col-md-5"
      target="_blank"
      href="https://wa.me/+201023902895"
    >
      <img src="assets/WhatsApp_logo.png" alt="" />
      <span>WhatsApp</span>
    </a>
    <a
      class="col-sm-10 col-md-5"
      target="_blank"
      href="mailto:salibmina470@gmail.com"
    >
      <img src="assets/Gmail-logo.png" alt="" />
      <span>Gmail</span>
    </a>
    <a
      class="col-sm-10 col-md-5"
      target="_blank"
      href="https://t.me/MiNa_SaLib07"
    >
      <img src="assets/Telegram_logo.webp" alt="" />
      <span>Telegram</span>
    </a>
    <a
      class="col-sm-10 col-md-5"
      target="_blank"
      href="https://m.me/alostora.2200"
    >
      <img src="assets/messenger-icon.png" alt="" />
      <span>Messenger</span>
    </a>
  </div>

  <div class="hr">
    <hr id="" />
    <h6>Visit Me</h6>
  </div>
  <div class="visit">
    <a target="_blank" href="https://github.com/MiNa-SaLib">
      <img src="assets/github.jfif" alt="" />
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/mina-salib07">
      <img src="assets/linkedin.webp" alt="" />
    </a>
    <a target="_blank" href="https://www.facebook.com/alostora.2200">
      <img src="assets/facebook.webp" alt="" />
    </a>
    <a
      target="_blank"
      href="https://twitter.com/MiNa_SaLib07?t=L0Oezshigz69X5V-onEcpQ&s=09"
    >
      <img src="assets/twitter-x.webp" alt="" />
    </a>
    <a
      target="_blank"
      href="https://www.upwork.com/freelancers/~01ef5cdb5bc6e7f3e8"
    >
      <img src="assets/upwork.svg" alt="" />
    </a>
  </div>
</div>
