<div class="container allMe">
  <div class="container hello">
    <h4>Hello</h4>
    <h1>I'm <span class="name">MiNa SaLib</span></h1>
    <h2>I'm <span #edit class="edit"></span><span class="mouse">|</span></h2>
    <ul>
      <li>
        <a target="_blank" href="https://www.facebook.com/alostora.2200"
          ><i class="fa-brands fa-facebook-square"></i
        ></a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/mina-salib07"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://twitter.com/MiNa_SaLib07?t=L0Oezshigz69X5V-onEcpQ&s=09"
          ><i class="fa-brands fa-twitter-square"></i
        ></a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/mina_salib2/"
          ><i class="fa-brands fa-instagram-square"></i
        ></a>
      </li>
    </ul>
  </div>
  <div>
    <img src="assets/me3.png" alt="" srcset="" />
  </div>
</div>
