<div class="container">
  <div class="myskills">
    <h1 class="text-center">Take a look on my skills</h1>
    <div class="container">
      <div class="skillsLinks row">
        <a class="col-sm-12 col-lg-4 col-md-4">
          <img src="assets/tech.png" alt="" />
          <span>Technical Skills</span>
        </a>
        <a class="col-sm-12 col-lg-4 col-md-4">
          <img src="assets/soft.jfif" alt="" />
          <span>Soft Skills</span>
        </a>
        <a class="col-sm-12 col-lg-4 col-md-4">
          <img src="assets/lang.jfif" alt="" />
          <span>Languages</span>
        </a>
      </div>
    </div>
    <div>
      <a class="btn btn-primary">Scroll Down</a>
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
  <div class="hr">
    <hr id="technicalSkills" />
    <h6>Technical Skills</h6>
  </div>
  <div class="container technicalSkills">
    <div>
      <img src="assets/angular.jpg" alt="" />
      <span>Angular</span>
      <div>JavaScript framework</div>
    </div>
    <div>
      <img src="assets/typescript.png" alt="" />
      <span>TypeScript</span>
      <div>Make JavaScript typed</div>
    </div>
    <div>
      <img src="assets/html.png" alt="" />
      <span>HTML</span>
      <div>Builds The Structure</div>
    </div>
    <div>
      <img src="assets/css.png" alt="" />
      <span>CSS</span>
      <div>Style & Layout</div>
    </div>
    <div>
      <img src="assets/js.png" alt="" />
      <span>JavaScript</span>
      <div>Activity & Behavior</div>
    </div>
    <div>
      <img src="assets/swiper.png" alt="" />
      <span>SwiperJs</span>
      <div>Colossal Library</div>
    </div>
    <div>
      <img src="assets/bootstrap.jfif" alt="" />
      <span>Bootstrap</span>
      <div>Components & Utility Classes</div>
    </div>
    <div>
      <img src="assets/github.jfif" alt="" />
      <span>Github</span>
      <div>Git Remote Controller</div>
    </div>
    <div>
      <img src="assets/c++.png" alt="" />
      <span>C++</span>
      <div>Fastest Programming Language</div>
    </div>
    <div>
      <img src="assets/Csharp_Logo.png" alt="" />
      <span>C#</span>
      <div>Programming Language</div>
    </div>
    <div>
      <img src="assets/java.png" alt="" />
      <span>Java</span>
      <div>Descriptive Programming Language</div>
    </div>
    <div>
      <img src="assets/py.jfif" alt="" />
      <span>Python</span>
      <div>The Easiest Programming Language</div>
    </div>
    <div>
      <img src="assets/php.png" alt="" />
      <span>PHP</span>
      <div>Programming Language</div>
    </div>
    <div>
      <img src="assets/sql.png" alt="" />
      <span>SQL</span>
      <div>SQL Database</div>
    </div>
    <div>
      <img src="assets/vs.jfif" alt="" />
      <span>VS Code</span>
      <div>Text Editor(IDE)</div>
    </div>
  </div>
  <div class="hr">
    <hr id="languages" />
    <h6>Languages</h6>
  </div>
  <div class="languages container">
    <div class="arabic">
      <h3>Arabic <span>Native</span></h3>
      <img src="assets/egy.png" alt="" />
    </div>
    <img src="assets/chatcoin-chat-logo.png" alt="" />
    <div class="eng">
      <h3>English <span>Conversational</span></h3>
      <img src="assets/eng.png" alt="" />
    </div>
  </div>
  <div class="hr">
    <hr id="soft" />
    <h6>Soft Skills</h6>
  </div>
  <div class="container">
    <div class="soft row">
      <div class="col-sm-12 col-md-2 col-lg-2">
        <span>Explanation skills</span>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <span>Public speaking</span>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <span>Presentation skills</span>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <span>Problem solving</span>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <span>Creative thinking</span>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <span>Team management</span>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <span>Team working</span>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <span>Work under pressure</span>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <span>Communication skills</span>
      </div>
    </div>
  </div>
</div>
