<div class="modal-body">
  <div class="myexperience1 container">
    <div><i class="fa-solid fa-briefcase"></i></div>
    <div>
      <h1>Take a tour in my learning & Work journey</h1>
    </div>
  </div>
  <div class="myexperience2 container">
    <div class="job">
      <div class="line">
        <span class="top"></span>
        <span class="bottom"></span>
      </div>
      <div class="jobtitle">
        <h2>Front-End</h2>
        <p class="jodtype">Freelance</p>
      </div>
      <div class="period">
        <small>March 2022</small>
        <span>
          <span class="top"></span>
          <span class="bottom"></span>
        </span>
        <small>Present</small>
      </div>
      <div class="aboutjob">
        <img src="assets/projs/freelance.jpg" alt="" />
        <h5>AnyWhere</h5>
      </div>
      <div class="joddescription">
        <p>
          I'm working as a freelancer front-end web developer, creating
          websites, teaching web development
        </p>
      </div>
    </div>
    <div class="job">
      <div class="line">
        <span class="top"></span>
        <span class="bottom"></span>
      </div>
      <div class="jobtitle">
        <h2>Web Instructor</h2>
        <p class="jodtype">Part-Time</p>
      </div>
      <div class="period">
        <small>August 2022</small>
        <span>
          <span class="top"></span>
          <span class="bottom"></span>
        </span>
        <small>Present</small>
      </div>
      <div class="aboutjob">
        <img src="assets/projs/gdsc.jpg" alt="" />
        <h5>GDSC Assiut University</h5>
      </div>
      <div class="joddescription">
        <p>
          I'm volunteeredI as a web instructor and mentor at GDSC Assiut
          university
        </p>
      </div>
    </div>
    <div class="job">
      <div class="line">
        <span class="top"></span>
        <span class="bottom"></span>
      </div>
      <div class="jobtitle">
        <h2>Front-End</h2>
        <p class="jodtype">Internship</p>
      </div>
      <div class="period">
        <small>September 2022</small>
        <span>
          <span class="top"></span>
          <span class="bottom"></span>
        </span>
        <small>October 2022</small>
      </div>
      <div class="aboutjob">
        <img src="assets/projs/tsf.jpg" alt="" />
        <h5>The sparks foundation</h5>
      </div>
      <div class="joddescription">
        <p>
          I worked as a front-end web developer intern at The sparks foundation
        </p>
      </div>
    </div>
    <div class="job">
      <div class="line">
        <span class="top"></span>
        <span class="bottom"></span>
      </div>
      <div class="jobtitle">
        <h2>Front-End</h2>
        <p class="jodtype">Internship</p>
      </div>
      <div class="period">
        <small>August 2023</small>
        <span>
          <span class="top"></span>
          <span class="bottom"></span>
        </span>
        <small>September 2023</small>
      </div>
      <div class="aboutjob">
        <img src="assets/projs/codealpha.jpg" alt="" />
        <h5>Code Alpha</h5>
      </div>
      <div class="joddescription">
        <p>I worked as a front-end web developer intern at Code Alpha</p>
      </div>
    </div>
  </div>
</div>
